.crypto-card{
  float: center;
  top: 60%;
  margin-left: 0%;
  margin-top: 10%;
  padding-top: 1%;
  color: rgb(7, 5, 121);
  background-color: rgba(0, 192, 250, 0.377);
}

#title {
  position: sticky  ;
  color: darkmagenta;
  margin-left: 5%;
  top: 0%;
 font-size: 500%;
}

body {
  background-color: rgba(113, 118, 255, 0.186);

}
.liked-heart {
  background-color: red
}

.like-glyph {
  cursor: pointer;
}
.unliked-heart {
  color: black;
  background-color:rgba(113, 118, 255, 0.186);
}
.center-text{
  color:rgb(0, 0, 0);

  width: 200%;
}
.hide {
  display: none;
}
.crypto-like-button {
  display:none;
}
.crypto-frame {
  font-size: 200%;
}

ul {
  font-size: 120%;
  position: absolute;
  left: 50%;
transform: translate(70%, -60%);
padding: 10px;
}

#search {
  font-size: 160%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
border: 2px solid #404041;
padding: 10px;
}